@font-face {
  font-family: GothamRounded-Bold;
  font-weight: bold;
  src: url("../fonts/GothamRounded-Bold.otf") format("opentype");
}

@font-face {
  font-family: GothamRounded-Book;
  src: url("../fonts/GothamRounded-Book.otf") format("opentype");
}

@font-face {
  font-family: GothamRounded-BookItalic;
  font-style: italic;
  src: url("../fonts/GothamRounded-BookItalic.otf") format("opentype");
}

@font-face {
  font-family: GothamRounded-Medium;
  font-weight: 500;
  src: url("../fonts/GothamRounded-Medium.otf") format("opentype");
}